# Python temp files
__pycache__/
*.py[cod]
*$py.class

# Build files and venv
.venv/
.conda/
build/
dist/
*.spec

# Local settings
localdata.py

# Custom files
notes/
ekura_helper/test.py
fish_stats.txt
Ekura helper.lnk